<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 Favorites</title>
</head>
<style>
    #navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    #navbarli {
    float: left;
    }

    #navbarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    #navbarli a:hover {
    background-color: #111;
    }
</style>
<body>
    <ul id="navbarul">
        <li id="navbarli"><a href='/'>Home</a></li>
        <li id="navbarli"><a href='/favorites'>Favorites</a></li>
    </ul>
    <h1>Welcome to My Favorite Things</h1>
</body>
</html>